{% extends "LPReservationBundle::layout.html.twig" %}

{% block title %}
	Paiement - {{ parent() }}
{% endblock %}

{% block lpreservation_body %}

{% for message in app.session.flashbag.get('noticea') %}
<div class="alert alert-info" role="alert">Message flash : {{ message }}</div>
{% endfor %}

  <h2 class="well">RECAPITULATIF DE LA COMMANDE </h2>
  <table class="table table-bordered">
   <thead>
      <tr>
        <th>NUMERO DU TICKET</th>
        <th>COORDONNEES</th>
        <th>PRIX</th>
      </tr>
   </thead>
  <tbody>
  {% if listTickets is defined %}
  {% for ticket in listTickets %}
    <tr>
       <th>{{ ticket.id }}</th>
       <th>{{ ticket.firstname }} {{ ticket.name }} né(e) le {{ ticket.birthday|date('d/m/Y') }} | {{ ticket.country }} </th>
       <th>{{ ticket.price }}€</th>
    </tr>
  {% endfor %}
  </tbody>
  <tfooter>
     <tr>
        <th></th>
        <th>TOTALE</th>
        <th>{{ sumTickets }}€</th>
     </tr>
  </tfooter>
  {% endif %}
  </table>
   <form action="{{ path('lp_reservation_checkout',{'id': id}) }}" method="POST" id="payment-form">
   <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_XS7Y2CFfxDDFpMICPZd3RaKr"
      data-amount="{{ sumTickets * 100 }}"
      data-image="{{ asset('bundles/lpreservation/images/logo.jpg') }}"
      data-name="Musée du Louvre"
      data-description="Billet d'entré au Musée du Louve"
      data-locale="auto"
      data-label="Payer"
      data-currency="eur"
      data-billing-address="true">
   </script>
   </form>                 
                    
{% endblock %}
{% block javascripts %}
<script>
    var stripe = Stripe('pk_test_XS7Y2CFfxDDFpMICPZd3RaKr');

    var promise = stripe.createToken(card);
        var form = $('#payment-form');
        form.submit(function(e){
            e.preventDefault();
               promise.then(function(result){
                if(result.error){
                    $('<div class="alert alert-danger" id="error-message">'+result.error.message+'</div>').insertBefore(form);
                    setTimeout(function(){$('#error-message').remove();}, 1750);
                }else{
                    var tokenId = result.token.id;
                    $('<input type="hidden" name="stripeToken">').val(tokenId).appendTo(form);
                    form.get(0).submit();
                }
            });
        });

</script>

{% endblock %}
  
 




