

<div class="well" >

  {{ form_start(form)}}
  {{ form_row(form.reservationdate) }}
  {{ form_label(form.type) }}
  {{ form_errors(form.type) }}
  {{ form_widget(form.type) }}
    {{ form_row(form.name) }}
  {{ form_row(form.firstname) }}
  {{ form_label(form.country) }}
  {{ form_errors(form.country) }}
  {{ form_widget(form.country) }}
  {{ form_label(form.birthday) }}
  {{ form_errors(form.birthday) }}
  {{ form_widget(form.birthday,{'attr':{'class':'datepicker-js'}}) }}
  {{ form_row(form.email) }}
  <input type="submit" value="valider" class="btn btn-success"/>
  {{ form_end(form) }}

</div>


